<div>
    <input type="text" ng-model="gameSearch" class="input-medium form-control search-query" name="s" placeholder="Search" value="">
    <hr/>
</div>
<div class="container media">
    <form role="form" ng-submit="submit()">
    <table class="table table-striped table-responsive table-fixed table-condensed">
        <thead>
        <tr>
            <th></th>
            <th>Spielname</th>
            <th>Anz. Punkte</th>
            <th>Upvotes</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-click="setClicked(game)" ng-repeat="game in games | orderBy:'-upvotes' | filter: gameSearch">
            <td><input type="radio"  id="{{'radio_' + game.id}}" name="radioGames" required></td>
            <td>{{game.name}}</td>
            <td>{{game.points}}</td>
            <td>{{game.upvotes}}</td>
        </tr>
        </tbody>
    </table>

        <button class=" btn-block btn btn-default">Auf Schnitzeljagd gehen</button>
    </form>
</div>